{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Poshpeanut Admin</title>
      <!-- base:css -->
      <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
      <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
      <link rel="stylesheet" href="{% static 'vendors/base/vendor.bundle.base.css' %}">
      <!-- endinject -->
      <!-- plugin css for this page -->
      <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}"/>
      <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'vendors/jquery-bar-rating/fontawesome-stars-o.css' %}">
      <link rel="stylesheet" href="{% static 'vendors/jquery-bar-rating/fontawesome-stars.css' %}">
      <!-- End plugin css for this page -->
      <!-- inject:css -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <!-- endinject -->
      <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
    </head>
    <body>
        <div class="container-scroller">
            {% include 'navbar.html' %}
            <div class="container-fluid page-body-wrapper">
                {% include 'sidebar.html' %}
                {% block content %}
                {% endblock %}
                {% include 'footer.html' %}
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
    </body>

     <!-- base:js -->
      <script src="{% static 'vendors/base/vendor.bundle.base.js' %}"></script>
      <!-- endinject -->
      <!-- Plugin js for this page-->
      <!-- End plugin js for this page-->
      <!-- inject:js -->
      <script src="{% static 'js/off-canvas.js' %}"></script>
      <script src="{% static 'js/hoverable-collapse.js' %}"></script>
      <script src="{% static 'js/template.js' %}"></script>
      <!-- endinject -->
      <!-- plugin js for this page -->
      <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
      <script src="{% static 'vendors/jquery-bar-rating/jquery.barrating.min.js' %}"></script>
      <!-- End plugin js for this page -->
      <!-- Custom js for this page-->
      <script src="{% static 'js/dashboard.js' %}"></script>
      <!-- End custom js for this page-->
</html>